--markup markdown
--markup-provider redcarpet
--charset utf-8
--readme README.md
--title "Train-Juniper Documentation"
--output-dir docs/api
--protected
--private
--embed-mixins
lib/**/*.rb
-
README.md
CHANGELOG.md
LICENSE.md
NOTICE.md